---
import { Image } from "astro:assets";
import { markdownify } from "@/lib/utils/textConverter";
import Boton from "@/element/Boton.astro";
import imagenContadores from "@/assets/secretariascontables.jpg";
const { cta, isHight } = Astro.props;
---

<section class={isHight ? "border-top" : ""} +"section px-4">
  <div class="section container rounded-xl shadow">
    <div class="row mx-auto items-center justify-center">
      <div class="md:col-5 lg:col-4">
        <Image
          class="w-full"
          src={imagenContadores}
          alt="call to action image"
          width={325}
          height={206}
        />
      </div>
      <div class="mt-5 text-center md:mt-0 md:text-left md:col-6 lg:col-5">
        <h2>{cta?.title}</h2>
        <p class="my-6 font-bold" set:html={markdownify(cta?.content)} />
        {
          cta.button.enable && (
            <a href={cta.button.link} rel={cta.button.rel}>
              {/* {cta.button.label} */}
              <Boton title={cta.button.label} />
            </a>
          )
        }
      </div>
    </div>
  </div>
</section>

<style>
  .border-top {
    margin-top: 420px;
  }
  @media screen and (max-width: 767px) {
    .border-top {
      margin-top: 860px;
    }
  }
</style>
