---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/components/Cta.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import ListaServicios from "@/Components/ListaServicios.astro";
import CardsTriangulo from "@/Components/CardsServices/CardsTriangulo.astro";

const homepage = await getEntryBySlug("homepage", "index");
const { banner, feature, services, workflow, call_to_action } = homepage.data;
---

<Base>
  <!-- banner -->
  <section class="section pb-[50px]">
    <div class="container">
      <div class="row text-center">
        <div class="mx-auto lg:col-10">
          <h1 class="font-primary font-bold">
            <h1 class="text-4xl md:text-4xl lg:text-5xl">
              Contabilidad Servicios fiscales
              <span class="text-blue-600"> y</span> Gestión de nóminas
            </h1>
            {
              banner?.content && (
                <p class="mt-4" set:html={markdownify(banner.content)} />
              )
            }

            <a
              type="button"
              target="_blank"
              title="Whatsapp"
              onclick="window.open('https://api.whatsapp.com/send?phone=59892319043&text=Hola,%20Quiero%20más%20%20información%20de%20%20los%20servicios%20ofrecidos%20por%20BAYMANET.')"
            >
              <button class="buttonGreenClear"> Whatapps ✔ </button>
            </a>

            <ListaServicios />
            {
              banner?.image && (
                <Image
                  class="mx-auto mt-12 max-w-sm"
                  src="/images/cta.png"
                  width={650}
                  height={290}
                  alt="banner image"
                />
              )
            }
          </h1>
        </div>
      </div>
    </div>
    <!-- Features -->
    <section class="section t">
      <div class="container">
        <!-- <div class="text-center">
          <h2>{markdownify(feature!.title)}</h2>
        </div> -->
        <div class="mt-8 grid gap-x-8 gap-y-6 sm:grid-cols-2 lg:grid-cols-3">
          <!-- {
            feature!.features.map((item: any, i: number) => (
              <div class="feature-card rounded-xl bg-white p-5 pb-8 text-center">
                {item.icon && (
                  <img
                    class="mx-auto"
                    alt={item.icon}
                    src={item.icon}
                    width={20}
                    height={20}
                  />
                )}
                <div class="mt-4">
                  <p class="h5" set:html={markdownify(item!.name)} />
                  <p class="mt-3">{item.content}</p>
                </div>
              </div>
            ))
          } -->

          <CardsTriangulo />
        </div>
      </div>
    </section>

    <!-- Services -->

    {
      services!.map((service: any, index: number) => {
        const isOdd = index % 2 > 0;
        return (
          <section class={`section ${isOdd && "bg-theme-light"}`}>
            <div class="container">
              <div class="items-center gap-8 md:grid md:grid-cols-2">
                <div class={`service-carousel ${!isOdd && "md:order-2"}`}>
                  {service!.images!.length > 1 ? (
                    <div class="swiper">
                      <div class="swiper-wrapper">
                        {service!.images?.map((image: string) => (
                          <div class="swiper-slide">
                            <Image
                              class="mx-auto"
                              src={image}
                              width={538}
                              height={328}
                              alt=""
                            />
                          </div>
                        ))}
                      </div>
                      <div class="pagination" />
                    </div>
                  ) : (
                    <Image
                      class="mx-auto"
                      src={service!.images![0]}
                      width={538}
                      height={328}
                      alt=""
                    />
                  )}
                </div>

                {/* Content */}
                <div
                  class={`service-content mt-5 md:mt-0 ${!isOdd && "md:order-1"}`}
                >
                  <h2 class="font-bold leading-[40px]">{service?.title}</h2>
                  <p class="mt-4 mb-2">{service?.content}</p>
                  {service?.button?.enable && (
                    <a
                      href={service?.button.link}
                      class="cta-link inline-flex items-center text-primary"
                    >
                      {service?.button.label}
                      <img
                        class="ml-1"
                        src="/images/arrow-right.svg"
                        width={18}
                        height={14}
                        alt="arrow"
                      />
                    </a>
                  )}
                </div>
              </div>
            </div>
          </section>
        );
      })
    }
    <script>
      import { Swiper } from "swiper";
      import "swiper/css";
      import "swiper/css/pagination";
      import { Autoplay, Pagination } from "swiper/modules";

      // astro:page-load event is fired when the page is loaded
      document.addEventListener("astro:page-load", () => {
        new Swiper(".service-carousel .swiper", {
          modules: [Pagination, Autoplay],
          autoplay: {
            delay: 3000,
          },
          pagination: {
            type: "bullets",
            el: ".service-carousel .pagination",
            clickable: true,
          },
        });
      });
    </script>
    <!-- ./End service -->

    <!-- Workflow -->
    <section class="section pb-0">
      <div class="mb-8 text-center">
        <h2
          class="mx-auto max-w-[400px] font-bold leading-[44px]"
          set:html={workflow?.title}
        />
        <p class="mt-3" set:html={workflow?.description} />
      </div>
      <Image
        src={workflow!.image}
        alt="workflow image"
        width={1920}
        height={414}
      />
    </section>

    <!-- Call to Action -->
    <Cta cta={call_to_action} />
  </section>
</Base>

<style is:global>
  .redes {
    padding: 0.2rem;
  }
  .buttonGreenClear {
    font-size: 1.3rem;
    padding: 0.6rem 1.6rem;
    margin: 1.3rem;
    border-radius: 1rem;
    background-color: #48cfcb;
  }

  .buttonGreenClear:hover,
  .iconHover:hover {
    animation: 1.2s forwards myAnim;
  }
  @keyframes myAnim {
    0%,
    100% {
      transform: scale3d(1, 1, 1);
    }

    30% {
      transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      transform: scale3d(0.95, 1.05, 1);
    }

    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  }
</style>
