---
import Cards from "./Cards.astro";
import { Image } from "astro:assets";
import jbmContadoresLogo from "@/assets/favicon.svg";
import gestoriaLogo from "@/assets/gestoria.svg";
import moneyLogo from "@/assets/money.svg";
import calculteLogo from "@/assets/calculate.svg";
import nominalogo from "@/assets/nomina.svg";
import whatapssLogo from "@/assets/WhatsAppAzul.svg";
import instagramLogo from "@/assets/instagramAzul.svg";
import emailLogo from "@/assets/emailAzul.svg";
---

<div class="header flex flex-col items-center text-justify">
  <h2>Servicios</h2>
  <h2>Contables</h2>
  <hr />
  <p class="text-gray-700 font-sans text-xl text-center mt-10">
    Ofrecemos servicios contables que incluyen <strong>
      gestoria, nominas, sueldos ,contabilidad,</strong
    >
    elaboración de estados financieros y conciliaciones bancarias
  </p>
  <Image
    width="60"
    height="60"
    class="redes hover:scale-125 transition mt-10"
    title="Servicios JBMContadores"
    src={jbmContadoresLogo}
    alt="Logo Whatapss"
  />
</div>

<div class="row1-container">
  <div class="box box-down cyan">
    <Cards
      title="Nominas"
      icons={gestoriaLogo}
      description="Elaboración y control detallado de las nóminas según normativa vigente."
    />
  </div>

  <div class="box red">
    <Cards
      title="Gestoria"
      icons={moneyLogo}
      description="Asesoramiento integral en trámites legales y administrativos."
    />
  </div>
  <div class="box box-down blue">
    <Cards
      title="Sueldos"
      icons={calculteLogo}
      description="Gestión precisa y puntual del cálculo y pago de sueldos de tu equipo."
    />
  </div>
</div>
<div class="row2-container">
  <div class="box">
    <Cards
      title="Contabilidad"
      icons={nominalogo}
      description="Registro y análisis contable para toma de decisiones financieras."
    />
  </div>
</div>
<footer class="flex justify-evenly items-center mt-10">
  <p class="text-gray-500">
    Para más información <strong class="text-blue-600"> :</strong>
  </p>
  <div>
    <a
      aria-label="Solcitar info por Whatsapp"
      title="Whatsapp"
      onclick="window.open('https://api.whatsapp.com/send?phone=59892319043&text=Hola,%20Quiero%20más%20%20información%20de%20%20los%20servicios%20ofrecidos%20por%20JBMContadores.')"
    >
      <Image
        width="40"
        height="40"
        class="redes hover:scale-125 transition"
        src={whatapssLogo}
        alt="Logo Whatapss"
      />
    </a>

    <a
      aria-label="Enviar Email"
      href="mailto: crjbm@outlook.com"
      title="Envíar correo"
      target="_blank"
      title="Email"
    >
      <Image
        width="40"
        height="40"
        class="redes hover:scale-125 transition"
        src={emailLogo}
        alt="Logo Email"
      />
    </a>

    <a
      aria-label="Visitar Instagram"
      href="https://www.instagram.com/jbmcontadores/"
      target="_blank"
      title="Instagram"
    >
      <Image
        width="40"
        height="40"
        class="redes hover:scale-125 transition"
        src={instagramLogo}
        alt="Logo Instagram"
      />
    </a>
  </div>

  <style>
    :root {
      --varyDarkBlue: hsl(234, 12%, 34%);
      --weight1: 200;
      --weight3: 600;
    }
    .redes {
      padding: 0.2rem;
    }

    h2:first-of-type {
      font-weight: var(--weight1);
      color: var(--varyDarkBlue);
    }

    h2:last-of-type {
      color: var(--varyDarkBlue);
    }

    @media (max-width: 400px) {
      h1 {
        font-size: 1.5rem;
      }
    }

    .header {
      line-height: 0.8;
      margin-bottom: 10px;
      margin-top: 100px;
      background-color: #f6f9fc;
      height: 65vh;
    }

    .box {
      border-radius: 5px;
      padding: 20px;
      margin: 10px;
    }

    img {
      float: right;
    }

    @media (max-width: 450px) {
      .box {
        height: 230px;
        margin: 10px;
      }
      .header {
        margin-top: 0;
        margin-bottom: 0;
        /* height: 40vh; */
      }
    }

    @media (max-width: 950px) and (min-width: 450px) {
      .box {
        text-align: center;
        height: 180px;
      }
    }

    h2 {
      color: var(--varyDarkBlue);
      font-weight: var(--weight3);
    }

    @media (min-width: 950px) {
      .row1-container,
      .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .box-down {
        position: relative;
        top: 150px;
      }
      .box {
        width: 70%;
      }
      .header p {
        width: 80%;
      }
    }
  </style>
</footer>
